<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3">
                Lista Sugerencias
            </span>
            <div *ngIf="eliminar" class="alert alert-success mt-4" role="alert">
              Se elimino Sugerencia
          </div>
            <button class="btn btn-dark btn-lg end" routerLink="/create-sugerencias">Agregar</button>
            <table class="table mt-5 table-striped">
                <thead>
                  <tr>
                    <th>Descripcion</th>
                    <th>Email</th>
                    <th>Foto</th>
                    <th>Id Usuario</th>
                    <th>latitud</th>
                    <th>longitud</th>
                    <th>nombre lugar</th>
                    <th>nombre usuario</th>
                    <th></th>
                  </tr> 
                </thead>
                <tbody>
                  <tr *ngFor="let empleado of empleados">
                    <td>{{empleado.descripcion}}</td>
                    <td>{{empleado.email}}</td>
                    <img src="{{empleado.fotoUrlLugar}}" alt="" width="100" height="100">
                    <td>{{empleado.idUsuario}} </td>
                    <td>{{empleado.latitud}}</td>
                    <td>{{empleado.longitud}}</td>
                    <td>{{empleado.nombreLugar}}</td>
                    <td>{{empleado.nombreUsuario}} </td>
                    <td>
                        <i class="fa-solid fa-pen-to-square fa-lg text-info" style="margin-right:10px ;" [routerLink]="['/editar-sugerencia',empleado.id]"></i>
                        <i class="fa-solid fa-trash fa-lg text-danger" (click)="eliminarSugerencia(empleado.id)"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>